.heading_title {
    color: purple;
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: blanchedalmond;
}

.right_container {
    display: flex;
    align-items: center;
    gap: 2rem;
}
