*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;;
}

form{
    display: flex;
    flex-direction: column;
    padding:2rem;
    gap:2rem;
    border: 2px solid darkblue;
}
